<configuration>

  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender" >

    <!-- encoders are assigned the type
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{YYYY-MM-DD HH:mm:ss.SSS} %-5level %logger{35} - %msg%n</pattern>
    </encoder>

  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">

    <file>logs/${bySecond}-seshat.log</file>

    <append>true</append>

    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{YYYY-MM-DD HH:mm:ss.SSS}  %-5level %logger{35} - %msg%n</pattern>
    </encoder>

  </appender>

  <appender name="METRICS" class="ch.qos.logback.core.FileAppender">


    <file>logs/${bySecond}-metrics.log</file>

    <append>true</append>

    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{YYYY-MM-DD HH:mm:ss.SSS} %-5level %logger{35} - %msg%n</pattern>
    </encoder>

  </appender>

  <root level="TRACE" >
    <appender-ref ref="FILE" />
    <appender-ref ref="CONSOLE" />
  </root>

  <logger level="ERROR" name="me.prettyprint.cassandra" additivity="false"  >
    <appender-ref ref="FILE" />
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger level="INFO" name="seshat.Metrics" additivity="false"  >
    <appender-ref ref="METRICS" />
  </logger>

</configuration>


